 
<%- include('../elements/header'); %> 

<div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs ace-save-state" id="breadcrumbs">
                    <ul class="breadcrumb">
                        <li> <i class="ace-icon fa fa-tachometer"></i> <a href="<%=nodeAdminUrl%>/Dashboard">Dashboard</a> </li>
                        <li class="active"><a href="<%=nodeAdminUrl%>/<%=controller%>/list"> Users </a> </li>
                        <li class="active">edit</li>
                    </ul><!-- /.breadcrumb --> 

                <div class="nav-search" id="nav-search">
                    <form class="form-search">
                        <span class="input-icon">
                            <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                            <i class="ace-icon fa fa-search nav-search-icon"></i>
                        </span>
                    </form>
                </div><!-- /.nav-search --> 
            </div>

            <div class="page-content">
                <div class="ace-settings-container" id="ace-settings-container">
                    <div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
                        <i class="ace-icon fa fa-cog bigger-130"></i>
                    </div>

                    <div class="ace-settings-box clearfix" id="ace-settings-box">
                        <div class="pull-left width-50">
                            <div class="ace-settings-item">
                                <div class="pull-left">
                                    <select id="skin-colorpicker" class="hide">
                                        <option data-skin="no-skin" value="#438EB9">#438EB9</option>
                                        <option data-skin="skin-1" value="#222A2D">#222A2D</option>
                                        <option data-skin="skin-2" value="#C6487E">#C6487E</option>
                                        <option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
                                    </select>
                                </div>
                                <span>&nbsp; Choose Skin</span>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-navbar" autocomplete="off" />
                                <label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-sidebar" autocomplete="off" />
                                <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-breadcrumbs" autocomplete="off" />
                                <label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" autocomplete="off" />
                                <label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2 ace-save-state" id="ace-settings-add-container" autocomplete="off" />
                                <label class="lbl" for="ace-settings-add-container">
                                    Inside
                                    <b>.container</b>
                                </label>
                            </div>
                        </div><!-- /.pull-left -->

                        <div class="pull-left width-50">
                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
                                <label class="lbl" for="ace-settings-hover"> Submenu on Hover</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
                                <label class="lbl" for="ace-settings-compact"> Compact Sidebar</label>
                            </div>

                            <div class="ace-settings-item">
                                <input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
                                <label class="lbl" for="ace-settings-highlight"> Alt. Active Item</label>
                            </div>
                        </div><!-- /.pull-left -->
                    </div> 
                </div> 
 
                <div class="page-header">
                    <h1>  <%=controller%> <small>   <i class="ace-icon fa fa-angle-double-right"></i>   Edit  </small> </h1> 
                </div>    
                <div class="row">  
                    <div class="col-xs-12 col-sm-6">
                        <div class="">   
                            <form method="post" action="<%=nodeAdminUrl%>/<%=controller%>/edit/<%=data[0].id%>" enctype="multipart/form-data">
                            <div class="widget-body">  
                                <input type="hidden" value="<%=data[0].id%>" name="id"> 
                                <div class="widget-main">  

                                    <div>
                                        <label for="form-field-select-1">First Name</label> 
                                        <input type="text" name="first_name" value="<%=data[0].first_name%>" id="form-field-select-1" placeholder="First Name" class="form-control">  
                                        <span class="error"><%=errorData.first_name%></span> 
                                    </div>  <br> 
 
                                    <div>
                                        <label for="form-field-select-1">Last Name</label> 
                                        <input type="text" name="last_name" value="<%=data[0].last_name%>" id="form-field-select-1" placeholder="Last Name" class="form-control">  
                                        <span class="error"><%=errorData.last_name%></span> 
                                    </div>  <br>

                                    <div>
                                        <label for="form-field-select-1"> Email </label> 
                                        <input type="text" name="email" value="<%=data[0].email%>" id="form-field-select-1" placeholder="Email" class="form-control">  
                                        <span class="error"><%=errorData.email%></span>  
                                    </div>  <br>  

                                    <!-- <div>
                                        <label for="form-field-select-1"> Password </label> 
                                        <input type="password" name="title" value="<%=data[0].password%>" id="form-field-select-1" placeholder="Passowrd" class="form-control">  
                                        <span class="error"><%=errorData.password%></span>   
                                    </div>  <br>   -->
 
                                    <div>
                                        <label for="form-field-select-1"> Mobile Number </label> 
                                        <input type="text" name="contact_number" value="<%=data[0].contact_number%>" id="form-field-select-1" placeholder="Mobile Number" class="form-control">  
                                        <span class="error"><%=errorData.contact_number%></span> 
                                    </div>  <br>  

                                    <div>
                                        <label for="form-field-select-1"> Profile Image </label> 
                                        <input type="file" name="profile_pic" id="form-field-select-1" class="form-control">  
                                        <span class="error"><%=errorData.profile_pic%></span>  
                                        <% if(data[0].profile_pic){  %>
                                            <img style="width: 150px;" src="<%=nodeSiteUrl%>/upload/<%=data[0].profile_pic%>">  
                                        <% } %>
                                    </div>  <br> 
   
                                    <div> 
                                        <label for="form-field-select-2">Status</label> 
                                        <select class="form-control" name="is_active" id="form-field-select-2">
                                            <option value="1" <%=data[0].is_active==1 ? 'selected' : '' %>>Active</option>
                                            <option value="0"  <%=data[0].is_active==0 ? 'selected' : '' %>>Inactive</option> 
                                        </select>
                                        <span class="error"><%=errorData.is_active%></span>  
                                    </div>  <br>
                                    <br>     
                                    <div> 
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button class="btn btn-info" type="submit"> <i class="ace-icon fa fa-check bigger-110"></i>  Submit </button>  
                                                &nbsp; &nbsp; &nbsp;
                                                <a href="<%=nodeAdminUrl%>/<%=controller%>/list%>"> <button class="btn" type="button"> Cancel </button></a>   
                                            </div>   
                                        </div>   
                                        <div class="space-2"></div>  
                                    </div>    
                                </div>
                            </div>
                            </form> 
                        </div>
                    </div><!-- /.span --> 
                </div>  
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->


<%- include('../elements/footer'); %> 
