<div id="sidebar" class="sidebar                  responsive                    ace-save-state">

        <script type="text/javascript">
            try{ace.settings.loadState('sidebar')}catch(e){}
        </script>

      

        <ul class="nav nav-list">
            <li class="active">
                <a href="<%=nodeAdminUrl%>/Dashboard">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text"> Dashboard </span>
                </a> 
                <b class="arrow"></b>
            </li> 

            <li class="<%=controller=='Users' ? 'open' : '' %>">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-desktop"></i>
                    <span class="menu-text">  Users </span> 
                    <b class="arrow fa fa-angle-down"></b>
                </a> 
                <b class="arrow"></b> 
                <ul class="submenu">  
                    <li class="<%=controller=='Users' && action =='list' ? 'active' : '' %>">
                        <a href="<%=nodeAdminUrl%>/Users/list"> <i class="menu-icon fa fa-caret-right"></i> All Users </a> 
                        <b class="arrow"></b>
                    </li> 
                    <li class="<%=controller=='Users' && action =='add' ? 'active' : '' %>">
                        <a href="<%=nodeAdminUrl%>/Users/add"> <i class="menu-icon fa fa-caret-right"></i> Add User </a> 
                        <b class="arrow"></b>
                    </li>
                </ul>    
            </li> 
 
            <li class="<%=controller=='categories' ? 'open' : '' %>">
                <a href="#" class="dropdown-toggle">
                    <i class=" menu-icon fa fa-list-alt"></i>
                    <span class="menu-text"> Categories </span> 
                    <b class="arrow fa fa-angle-down"></b>
                </a> 
                <b class="arrow"></b> 
                <ul class="submenu">
                    <li class="<%=controller=='categories' && action =='list' ? 'active' : '' %>">
                        <a href="<%=nodeAdminUrl%>/Categories/list"> <i class="menu-icon fa fa-caret-right"></i> All Categories </a> 
                        <b class="arrow"></b>
                    </li> 
                    <li class="<%=controller=='categories' && action =='add' ? 'active' : '' %>">
                        <a href="<%=nodeAdminUrl%>/Categories/add"> <i class="menu-icon fa fa-caret-right"></i> Add Category </a> 
                        <b class="arrow"></b>
                    </li> 
                </ul>
            </li>

            <li class="<%=controller=='Products' ? 'open' : '' %>">
                <a href="#" class="dropdown-toggle">
                    <i class=" menu-icon fa fa-list-alt"></i>
                    <span class="menu-text"> Products </span> 
                    <b class="arrow fa fa-angle-down"></b>
                </a> 
                <b class="arrow"></b>  
                <ul class="submenu">
                    <li class="<%=controller=='Products' && action =='list' ? 'active' : '' %>">
                        <a href="<%=nodeAdminUrl%>/Products/list"> <i class="menu-icon fa fa-caret-right"></i> All Products </a> 
                        <b class="arrow"></b>
                    </li> 
                    <li class="<%=controller=='Products' && action =='add' ? 'active' : '' %>">
                        <a href="<%=nodeAdminUrl%>/Products/add"> <i class="menu-icon fa fa-caret-right"></i> Add Product </a> 
                        <b class="arrow"></b>
                    </li> 
                </ul>
            </li>
  
            <li class="">
                <a href="#" class="dropdown-toggle">
                    <i class=" menu-icon fa fa-list-alt"></i>
                    <span class="menu-text"> Membership  </span> 
                    <b class="arrow fa fa-angle-down"></b>
                </a> 
                <b class="arrow"></b> 
                <ul class="submenu">
                    <li class="">
                        <a href="tables.html"> <i class="menu-icon fa fa-caret-right"></i> List Membership  </a>  <b class="arrow"></b>
                    </li> 
                    <li class="">
                        <a href="tables.html"> <i class="menu-icon fa fa-caret-right"></i> Add Membership  </a>  <b class="arrow"></b>
                    </li> 
                </ul>
            </li> 
        </ul><!-- /.nav-list -->

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
    </div>